<% include ../partials/header-sub %>

    <img id="predicasimg" src="images/Danza.jpeg" alt="adoradoras la pena de horeb">

    <div class="container-fluid well animated fadeInLeft" id="predicasContainer">
          <h3 style="display: inline">Juan 4:23-24</h3><h4 style="display: inline"> -- Reina-Valera 1960 (RVR1960)</h4>
          <br><br>
          <em>23 Mas la hora viene, y ahora es, cuando los verdaderos adoradores adorarán al Padre en espíritu y en verdad; porque también el Padre tales adoradores busca que le adoren.
              24 Dios es Espíritu; y los que le adoran, en espíritu y en verdad es necesario que adoren.</em>
          <hr>
          <p>La adoración es lo más importante de una congregación, no por la música, ni por la danza, ni por el hecho que somos ministrados en la presencia de Dios, sino porque es
             el momento en el que nos olvidamos totalmente de nosotros y nos enfocamos en Jesús. Nuestra adoración es hecha por El y para El. Ven y descubre a lo que nos referimos.</p>
          <a href="https://www.youtube.com/channel/UCX7AFFL1QKob6IdoJ6fNRWA">Mas videos aqui!</a>
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/_UYuWDmpMh0" frameborder="0" allowfullscreen></iframe>
      </div>

<% include ../partials/footer %>
