<% include ../partials/header-master %>

    <!-- <div id="carousel">
          <div id="landingCarousel" class="carousel slide"> -->
            <!-- wrapper for slides -->
            <!-- <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img id="landingImg" src="images/Cross.jpg" alt="Church Image" class="img-responsive">
                <div class="carousel-caption">
                </div>
               </div>
             </div>
          </div>
    </div> --> <!-- end of carousel --> -->

      <div class="container-fluid" id="mainContainer">
        <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12" id="first-element">
          <a href="/pastores"><img src="images/pastoresindex.jpg" alt="pastores de la iglesia la pena de horeb" class="img-responsive"></a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12" id="second-element">
            <a href="/adoracion"><img  class="img-responsive" src="images/Danzaindexoverlay.jpg" width="100%" height="315" alt="adoradoras la pena de horeb"></a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="/testimonios"><img class="img-responsive" src="images/testimonios.jpg" width="100%" height="315" alt=""></a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="/ninos"><img class="img-responsive" src="images/Niñosoverlay.jpg" width="100%" height="310" alt=""></a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="/mujeres"><img class="img-responsive" src="images/mujeresoverlay.jpg" width="100%" height="315" alt=""></a>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="/varones"><img class="img-responsive" src="images/Varonesoverlay.jpg" width="100%" height="315" alt=""></a>
          </div>
        </div><!-- end row -->
      </div><!-- end mainContainer -->

      <iframe  id="map"class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3584.6929333443304!2d-80.26860854904028!3d26.043601283428565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a87d446f588d%3A0x5e4a1251e1982931!2s8950+Stirling+Rd%2C+Hollywood%2C+FL+33024!5e0!3m2!1sen!2sus!4v1489535849608"
      frameborder="0" style="border:0" height="400" width="100%" allowfullscreen></iframe>

<% include ../partials/footer %>
