<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" type="text/css" rel="stylesheet">
    <link href="/css/landing.css" type="text/css" rel="stylesheet">
    <link href="/css/animate.css" type="text/css" rel="stylesheet">
    <title>Iglesia LPH</title>
  </head>
  <body>
    <div id="landing-header" class="animated fadeInLeft">
   		<h1>Iglesia LPH</h1>
      <hr>
  		<a href="/index" class="ui inverted massive button">Ven a Cristo</a>
    </div>
    <div class="landing-image">
      <img id="landingImg" src="images/Cross.jpg" class="ui image">
    </div>
  </body>
</html>
