<% include ../partials/header-sub %>

    <img id="predicasimg" src="images/Mujeres.jpeg" alt="mujeres de la pena de horeb">

    <div class="container-fluid well animated fadeInLeft" id="predicasContainer">
          <h3 style="display: inline">Proverbios 14:1</h3><h4 style="display: inline"> -- Reina-Valera 1960 (RVR1960)</h4>
          <br><br>
          <em>La mujer sabia edifica su casa;
              mas la necia con sus manos la derriba.</em>
          <hr>
          <p>Mujer, ¿quisieras saber cómo edificar tu casa sabiamente? Las mujeres de nuestra congregación han descubierto
             que la respuesta está en edificar su hogar en la Roca angular, Jesús de Nazaret. Ven y descubre más en nuestro discipulado para mujeres. Te esperamos todos los martes por la noche.</p>
          <!-- <img src="images/estudiohombres.jpg" alt="Estudio biblico hombres" width="100%"> -->
    </div>

<% include ../partials/footer %>
