<% include ../partials/header-sub %>

    <img id="predicasimg" src="images/Niños.jpeg" alt="Holy Bible courtesy of unsplash.com">

    <div class="container-fluid well animated fadeInLeft" id="predicasContainer">
          <h3 style="display: inline">Proverbios 22:6</h3><h4 style="display: inline"> -- Reina-Valera 1960 (RVR1960)</h4>
          <br><br>
          <em>Instruye al niño en su camino, y aun cuando fuere viejo no se apartará de él.</em>
          <hr>
          <p>En nuestra iglesia nos aplicamos diligentemente para que los niños tomen el camino que Jesucristo nos mostró
            enseñándoles los mandamientos y ordenanzas de la Biblia, a respetar y amar a sus padres, hermanos y amigos.
          <br><br>
            El estudio Bíblico para niños tiene como misión que los niños guarden el camino de Jehová, enseñándoles a hacer
            lo bueno, a amar a Dios y sus palabra, de modo que aun cuando fueren viejos no se apartarán de él.</p>
    </div>

<% include ../partials/footer %>
