<% include ../partials/header-sub %>

    <div class="container animated fadeInLeft">
      <img id="pastores" src="images/pastores.jpg">
      <h1>Nuestros Pastores</h1>
      <hr>
      <p>COMING SOON!</p>
      <hr>
    </div>

<% include ../partials/footer %>
