<% include ../partials/header-sub %>

    <img id="predicasimg" src="images/Varones.jpeg" alt="adoradoras la pena de horeb">

    <div class="container-fluid well animated fadeInLeft" id="predicasContainer">
          <h3 style="display: inline">Salmos 133:1</h3><h4 style="display: inline"> -- Reina-Valera 1960 (RVR1960)</h4>
          <br><br>
          <em>!!Mirad cuán bueno y cuán delicioso es
              habitar los hermanos juntos en armonía!</em>
          <hr>
          <p>No cabe duda que la gente que nos rodea influye mucho nuestras vidas. Es por eso que los hombres de nuestra
             congregación se influyen los unos a los otros a imitar cada día a Cristo. Ven
             únete a nuestro discipulado para hombres todos los jueves por la noche. </p>
          <img src="images/estudiohombres.jpg" alt="Estudio biblico hombres" width="100%">
    </div>

<% include ../partials/footer %>
